//- Base template for all pages that
//- need vue,vuex,vue-router,vue-i18n, axios and moment
include _global-vars
include _flex-js
include _global-mixins
doctype html
html
  head
    meta(content="charset=utf-8")
    block meta
    block script
    block title
      title #{websiteTitle}
      meta(name="keyword" content="")
    block libcss
    block css
    block headjs

  body
    block main
    block libjs
    script(src="/js/lib/vue.2.6.11.js")
    script(src="/js/lib/axios.0.20.0-0.js")
    block js
