br(n)
  -webkit-border-radius px2rem(n)
  -moz-border-radius px2rem(n)
  border-radius px2rem(n)
fl()
  float: left
fr()
  float: right
tc()
  text-align: center
tl()
  text-align: left
tr()
  text-align: right
posA()
  position: absolute
posR()
  position relative
mb(n)
  margin-bottom: px2rem(n) 
mt(n)
  margin-top: px2rem(n)
mr(n)
  margin-right: px2rem(n) 
ml(n)
  margin-left: px2rem(n) 
pb(n)
  padding-bottom: px2rem(n) 
pt(n)
  padding-top: px2rem(n)
pr(n)
  padding-right: px2rem(n) 
pl(n)
  padding-left: px2rem(n) 
f(n)
  font-size: px2rem(n)
db()
  display: block
lh(n)
  line-height: px2rem(n)