extends ../_base
block meta
  +favicon()
  +analytics()
  +meta-seo()
  include ../_seed-min

//- block libcss
//-   link(rel="stylesheet" href="/static/css/common/common.css")

//- block css
//-   link(rel="stylesheet" href="/static/css/login.css")

block main
  #root
block js
  script(src="/js/lib/swiper-bundle.min.js")
